:root {
    --foreground-rgb: 0, 18, 11;
    --second-rgb: 53, 96, 90;
    --background-rgb: 221, 216, 184;
    --font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family);
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    align-items: center;
    align-content: center;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: rgb(var(--second-rgb));
    color: rgb(var(--background-rgb));
    padding: 10px 0;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header .email {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
    color: rgb(var(--background-rgb));
    margin-bottom: 10px;
}

header .email svg {
    width: 30px;
    height: 30px;
}

header .photo {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    border: 4px solid rgb(var(--background-rgb));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid rgb(var(--second-rgb));
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 5px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: rgb(var(--background-rgb));
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.2em;
    }

    li {
        font-size: 0.9em;
    }

    header img {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header img {
        width: 80px;
        height: 80px;
    }

    header .email svg {
        width: 16px;
        height: 16px;
    }
}